@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
.background {
  position: relative;
  background-size: cover; /* Faz a imagem preencher o espaço do contêiner */
  background-position: center; /* Centraliza a imagem no contêiner */
  height: 60em; /* Define a altura do contêiner */
  width: 100%; /* Define a largura total */
}
.p {
  margin: 0;
  font-family: "Lexend Exa";
  text-align: start;
  width: 18.5em;
  font-size: 0.8em;
  position: relative;
  top: -0.5em;
  display: none;
  transition: 2ms;
}
main > .erroContainer {
  gap: 1em !important;
}
.light > div > .p {
  color: #f5e0d4;
}
.dark > div > .p {
  color: #6e3131;
}
.visivel {
  display: inline;
}
.invisivel {
  display: none;
}
.background_light {
  background-image: url("/assets/background_light.jpeg");
}
.background_dark {
  background-image: url("/assets/background.jpeg");
}
.background > img {
  margin: 1em;
}
.light,
.dark {
  width: 100%;
  height: 25em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.light > div {
  display: flex;
  flex-direction: column;
  background-color: #7c3939;
  padding: 2.5em;
  width: 16em;
  align-items: center;
  gap: 1.5em;
  border-radius: 1em;
  box-shadow: 0.2em 0.2em 0.3em #282525b3;
}
.light > div > h2 {
  color: #f5e0d4;
  font-family: "Lexend Exa";
  font-weight: 600;
  text-align: center;
}
.light > div > .button {
  width: 10em;
  height: 2.8em;
  border-radius: 0.3em;
  border: none;
  margin: auto;
  background-color: #f5e0d4;
  color: #282525;
  transition: transform 0.3s ease;
  font-family: "Lexend Exa";
  cursor: pointer;
}

.light > div > .button:disabled {
  opacity: 0.5;
}
.light > div > input {
  padding: 0.5em;
  width: 17em;
  border: solid 0.1em #f5e0d4;
  border-radius: 0.2em;
  font-family: "Lexend Exa";
}
.erro {
  background-color: #ca0808a3;
}
.light > div > input::placeholder {
  color: #999;
  font-style: italic;
}
.light > div > input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(245, 224, 212, 0.8);
  border-color: #f5e0d4;
  border-radius: 0.2em;
}
.light > div > .button:hover {
  background-color: #f5e0d4;
  box-shadow: 0 0 5px rgba(245, 224, 212, 0.5);
  transform: scale(1.1);
}

.dark > div {
  display: flex;
  flex-direction: column;
  background-color: #f5e0d4;
  padding: 2.5em;
  width: 16em;
  align-items: center;
  gap: 1.5em;
  border-radius: 1em;
  box-shadow: 0.2em 0.2em 0.3em #514c4cb3;
}
.dark > div > h2 {
  color: #282525;
  font-family: "Lexend Exa";
  font-weight: 600;
  text-align: center;
}
.dark > div > .button {
  width: 10em;
  height: 2.8em;
  border-radius: 0.3em;
  border: none;
  margin: auto;
  background-color: #7c3939;
  color: #f5e0d4;
  transition: transform 0.3s ease;
  font-family: "Lexend Exa";
  cursor: pointer;
}
.dark > div > .button:disabled {
  opacity: 0.5;
}
.dark > div > input {
  padding: 0.5em;
  width: 17em;
  border: solid 0.1em #7c3939;
  border-radius: 0.2em;
  font-family: "Lexend Exa";
}
.dark > div > input::placeholder {
  color: #999;
  font-style: italic;
}
.dark > div > input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(124, 57, 57, 0.8);
  border-color: #7c3939;
  border-radius: 0.2em;
}
.dark > div > .button:hover {
  background-color: #6e3131;
  box-shadow: 0 0 5px rgba(124, 57, 57, 0.5);
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .light {
    width: 35em;
  }
  .light > div {
    margin: auto;
    width: 13em;
  }
}
@media (max-width: 600px) {
  .dark {
    width: 35em;
  }
  .dark > div {
    margin: auto;
    width: 13em;
  }
}

@media (max-width: 550px) {
  .light {
    width: 30em;
  }
  .light > div {
    margin: auto;
    width: 13em;
  }
}
@media (max-width: 550px) {
  .dark {
    width: 30em;
  }
  .dark > div {
    margin: auto;
    width: 13em;
  }
}

@media (max-width: 450px) {
  .light {
    width: 25em;
  }
  .light > div {
    margin: auto;
    width: 13em;
  }
}
@media (max-width: 450px) {
  .dark {
    width: 25em;
  }
  .dark > div {
    margin: auto;
    width: 13em;
  }
}

html,
body {
  overflow: hidden;
}
main {
  position: absolute;
  padding: 1em;
}
img {
  width: 1.6em;
  height: 1.6em;
}
.light > div > #texto {
  font-family: "Lexend Exa";
  font-size: 1.2em;
  display: inline;
  color: #f3f3f3;
}
.dark > div > #texto {
  font-family: "Lexend Exa";
  font-size: 1.2em;
  display: inline;
  color: #282525 ;
}
.light > #alerta {
  background: #6e3131;
  position: fixed;
  border: 0.1em solid #f3f3f3;
  width: 10em;
  color: #f3f3f3;
  top: 2em;
  height: 5em;
}
.dark > #alerta {
  background: #f3f3f3;
  position: fixed;
  border: 0.1em solid #6e3131;
  width: 10em;
  color: #282525 ;
  top: 2em;
  height: 5em;
}
.light > div > #btnAlerta {
  padding: 0.5em 1.5em;
  border-radius: 0.3em;
  border: none;
  margin: auto;
  background-color: #f5e0d4;
  color: #282525;
  transition: transform 0.3s ease;
  font-family: "Lexend Exa";
  cursor: pointer;
}
.dark > div > #btnAlerta {
  padding: 0.5em 1.5em;
  border-radius: 0.3em;
  border: none;
  margin: auto;
  background-color: #6e3131;
  color: #f5e0d4;
  transition: transform 0.3s ease;
  font-family: "Lexend Exa";
  cursor: pointer;
}

#loading {
  background: rgba(0, 0, 0, 0.1);
  position: fixed;
  border: 0.5em solid #f3f3f3; /* Cor de fundo do círculo */
  border-radius: 50%;
  border-top: 0.5em solid #6e3131; /* Cor da animação */
  width: 0.2em;
  height: 0.2em;
  animation: spin 1s linear infinite; /* Define a animação de rotação */
}

@keyframes spin {
  0% {
    transform: rotate(0deg); /* Início da rotação */
  }
  100% {
    transform: rotate(360deg); /* Fim da rotação (uma volta completa) */
  }
}
